body:not(.dark-mode) #pomodoro-modal .settings-content {
    background: white;
    color: var(--text-color-light);
 }
 
 body.dark-mode #pomodoro-modal .settings-content {
    background: var(--background-dark);
    color: var(--text-color-dark);
 }
 
 #pomodoro-modal .timer-display {
    background: linear-gradient(45deg, var(--bg-gradient-start-light), var(--bg-gradient-end-light));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    mask-image: linear-gradient(45deg, var(--bg-gradient-start-light), var(--bg-gradient-end-light));
    -webkit-mask-image: linear-gradient(45deg, var(--bg-gradient-start-light), var(--bg-gradient-end-light));
}


 
 body.dark-mode #pomodoro-modal .timer-display {
    background: linear-gradient(45deg, var(--pomodoro-gradient-start-dark), var(--pomodoro-gradient-end-dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    mask-image: linear-gradient(45deg, var(--pomodoro-gradient-start-dark), var(--pomodoro-gradient-end-dark));
    -webkit-mask-image: linear-gradient(45deg, var(--pomodoro-gradient-start-dark), var(--pomodoro-gradient-end-dark));
 }